body{
    margin: 0;
}

p {
  margin-bottom: 10px;
}

h6{
    margin : 0;
}

figure {
  margin: 0;
  padding: 0;
  float: left;
}

h2{
  font-size: 40px;
  font-weight: bold;
  text-transform: uppercase;
}

h3{
  font-size: 25px;
  font-weight: bold;
  text-transform: capitalize;
}

h4{
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
}

/*****************Stare Header-area*************************/
.header-area{
    overflow: hidden;
    background-color: gainsboro;
   
}

.container {
    max-width: 1140px;
    width: 90%;
    margin: auto;

}
.header-area .logo-area{
  width: 20%;
  float: left;
  position: relative;
}




.header-area .menu-area{
  width: 80%;
  overflow: hidden;
  margin-top: 40px;

}

.header-area .menu-area nav{
    float: right;

  }

.header-area .menu-area ul{
    margin: 0;
    padding: 0;
  }

  .header-area .menu-area ul li{
    list-style: none;
    display: inline-block;
    margin-right: 30px;
  }


  .header-area .menu-area ul li a{
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    color: black;
      }

  .header-area .menu-area ul li a:hover{
        text-decoration: underline;
      }

/************************Start-Baner-Area******************************/

.banner-area{
  overflow: hidden;
  text-align: center;
  background-image: url('img/background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.banner-area .headline{
  padding-top: 150px;
  padding-bottom: 150px;
  color: #ffffff;
}

.banner-area .headline h4{
font-size: 25px;
font-weight: 800px;
}

/***********************Start Service-area***************************/

.service-area {
  overflow: hidden;
  text-align: center;
}

.service-area .row {
  overflow: hidden;
}

figure {
  margin: 0;
  padding: 0;
}

figcaption{
  margin: 0;
  padding: 0;
}

.fluit {
    width: 100%;
    height: auto;
}

.col-1-3{
  width: 33.33%;
  float: left;
  box-sizing: border-box;
  padding: 25px;

}

.col-1-3 figcaption h4{
  margin-top: 5px;
  margin-bottom: 5px;
}

.col-1-3 figcaption p{
 margin: 0;
 line-height: 1.4em;
}

.row h4 {
  margin-bottom: 0;
}
.text {
  margin-bottom: 20px;
}

.text h3{
  margin-bottom: 0;
}

.text p{
  margin-bottom: 0;
}
.service-area .text h4 {
  margin-bottom: 0;
}


/****************************Start Instagram-area******************************/

.instagram-area {
  overflow: hidden;
  background-color: #525A5A;
  text-align: center;
  color: #ffffff;
  padding: 25px 0;
}


.instagram-area .row h4 {
 margin-bottom: 0;
}

.instagram-area .row .btn {
  overflow: hidden;
  width: 100%;
  margin: auto;

 }

 .instagram-area .row .btn a{
  text-decoration: none;
  color: #ffffff;
  font-size: 16px;
  text-transform: capitalize;
  background-color: transparent;
  border: .5px solid #ffffff;
  padding: 7px 15px;
  display: inline-block;
 }

 .instagram-area .row .btn a:hover{
  text-decoration: underline;
  color: gray;
 }


 /**********************************START JOURNAL-AREA*************************/

 .journal-area{
   overflow: hidden;
   text-align: center;
   padding: 25px 0;
 }


 .journal-area .row{
  overflow: hidden;
}

.journal-area .row .collum-1-3{
  margin-top: 0;
}

.journal-area .row h4{
 margin-bottom: -30px;
 font-size: 20px;
}

.journal-area .row h5{
  margin-bottom: 0;
  font-size: 14px;
 }

 .journal-area .row p{
  margin: 5px 0;
 }
.journal-area .row .col-1-3 p{
 color: #666666;
 font-size: 14px;
 line-height: 1.3em;
}


.button {
  text-align: left;
}


.button a{
  text-decoration: none;
  font-size: 16px;
  text-transform: capitalize;
  color: #666666;
  border-bottom: 1px solid cyan;
}

/*******************************Start About Area**************************/

.about-area{
  overflow: hidden;
}

.about-area .col-1-2{
  width: 50%;
  float: left;
  padding: 20px;
  box-sizing: border-box;
}


.pick figure{
  margin-right: 20px;
}

.text p{
  font-size: 14px;
  color: #909090;
  line-height: 1.3em;
}


.photography {
  overflow: hidden;
}

.photography .icon {
  width: 20%;
  float: left;
}

.photography .text {
  width: 80%;
  float: left;
}

.motion {
  overflow: hidden;
}

.motion .icon {
  width: 20%;
  float: left;
}


.motion .text {
  width: 80%;
  float: left;
}


.photo {
  overflow: hidden;
}

.photo .icon{
  float: left;
  width: 20%;
}

.photo .text{
  float: left;
  width: 80%;
}

.icon img {
  margin-top: 20px;
}

/********************************Start Footer-Area*****************************/

.footer-area {
  overflow: hidden;
  background-color: #373737;
  padding: 20px;
  color : gainsboro;
  font-size: 12px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.footer-area .footer-top{
        overflow: hidden;
}

.footer-area .footer-top .col-1-4 {
  width: 25%;
  float: left;
  padding: 20px;
  box-sizing: border-box;
}

.footer-area .footer-top .col-1-4 h4 {
  margin-bottom: 3px;
}

.footer-area .footer-top .col-1-4 .address .map {
  
}

.footer-area .footer-top .col-1-4 .address i{
  float: left;
  margin-right: 5px;
}

.footer-area .footer-top .col-1-4 .address .map p{
    font-size: 12px;
}
.footer-area .footer-bottom{
  overflow: hidden;
}

.footer-area .footer-bottom .text{
  width: 40%;
  float: left;
}


.footer-area .footer-bottom .icon{
  width: 60%;
  float: left;
}

.footer-area .footer-bottom .icon nav{
  float: right;
} 


.footer-area .footer-bottom .icon ul{
 padding: 0;
 margin: 0;
 
}

.footer-area .footer-bottom .icon ul li{
 display: inline-block;
 margin-right: 30px;
 list-style: none;
 }

 .footer-area .footer-bottom .icon ul li a{
 text-decoration: none;
  }

  .footer-area .footer-bottom .icon ul li a i{
    color: #ffffff;
    font-size: 18px;
    border: 1px solid #ffffff;
    border-radius: 50%;
    padding: 50%;
     }